@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/*Configurações Globais*/
*{
    margin: 0px;
    padding: 0px;
}

html,body{
    height: 100%;
    background-color: black;
}

p{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    display: inline;
}
h1{
    font-family: 'DM Sans', sans-serif;
    color: #f9b025;
    
}

footer{
    color: white;
    height: 16px;
    width: 99%;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    margin-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}
/*Configurações da Logo*/
.alinhamento{
    text-align: center;
}

.logo{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

/*Configurações dos Menus*/
nav{
    text-align: center;
    margin-left: 5.5%;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 30px;
}

.icons{
    padding-right: 5px;
    height: 17px;
    width: 17px;
}

a.menu{
    padding: 10px;
    text-decoration: none;
    color: #f9b025;
    font-size: 22px;
    margin-right: 5%;
    transition: text-decoration 1s;
}

a.menu:hover{
    text-decoration: underline;
}

a.img:hover{
    transform: translate(0px,5px);
}
/*Configurações Especícas da Home*/
main.home{
    text-align: center;
}

.imgHome{
    width: 60%;
    height: auto;
}

footer.home{
    position: fixed;
    left: 0;
    bottom: 0;
}

/*Configurações Específicas do Cardápio*/

.caixas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
    row-gap: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.tituloCarda{
    width: 100%;
    margin-bottom: 20px;
    margin-left: 2%;
}

.Cardápio{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #f2e5d4;
    text-align: center;
}
.imagens{
    margin-top: 20px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.prod{
    font-family: 'DM Sans', sans-serif;
    color: black;
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
}

/*Configurações Específicas dos Pedidos*/
form{
    background-color: #f2e5d4;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
    border-radius: 10px;
}
.tituloPed{
    text-align: center;
    font-size: 0.6rem;
}

#tPedidos{
    color: black;
}
.campTxt{
    width: 99%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    font-family: 'DM Sans', sans-serif;
    padding: 5px;
}

.Hamburguer{
    background-color: #f2e5d4;
    width: 50%;
    border-radius: 10px;
    padding: 5px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    margin-left: 25%;
    margin-right: 10%;
    justify-content: first baseline;
    flex-wrap: wrap;
    row-gap: 10px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.493);
}

.coluna{
    width: 30%;
    text-align: left;
}
.inptNum{
    width: 35px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid;
    border-color: gray;
    text-align: center;
}

.campBtn{
    margin-left: 25%;
    width: 50.5%;
    height: 30px;
    border-radius: 10px; 
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    padding: 5px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.493);
}









